@{
    ViewData["Title"] = "Home Page";
}
<div class="col-lg-5 ml-auto">
    <h1 class="text-white">Welcome!</h1>
    <h4>in SoccerScoreTyper Community</h4>
    <div class="text-center">
        <p class="text-white">Application status: development</p>
    </div>
</div>

