@{
    ViewData["Title"] = "Main Page";
}

<div class="site-section bg-dark">
    <div class="container">
        <div class="row">            
            <div class="col-lg-12">

                <div class="widget-next-match">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="col-lg-6">
                                        Welcome logged user
                                    </div>
                                </th>
                                <th>
                                    <div class="col-lg-6">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var claim in User.Claims)
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-3">
                                            <strong>@claim.Type</strong>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-lg-3">
                                            @claim.Value
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
