@model SSTWeb.Models.ForgotPasswordModel
<div class="container text-white">
    <div class="row">
        <div class="col-lg-7">
        </div>
        <div class="col-lg-4">
            <h3>Forgot Password?</h3>
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <p></p>
                <div class="row float-right">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}