@model SSTWeb.Models.UserRegistrationModel
<div class="container text-white">
    <div class="row">
        <div class="col-lg-7">
        </div>
        <div class="col-lg-4">
            <h3>Registration</h3>
            <form asp-action="Register">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>
                    <div class="row">
                        <label asp-for="Login" class="control-label"></label>
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <p> </p>
                <div class="row float-right">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
        </div>
        <div class="col-lg-4">
            <partial name="_ExternalAuthentication" />
        </div>
    </div>
</div>


    @section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

