@using Microsoft.AspNetCore.Identity
@using SSTDataAccessLibrary.Models

@inject SignInManager<Typer> SignInManager

<div class="col-md-12">
    <p></p>
    <p>Use different service for log in:</p>
    <hr />
    @{
        var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        if (!providers.Any())
        {
            <div>
                <p style="">
                    We couldn't find any external provider
                </p>
            </div>
        }
        else
        {
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
               
                <div class="col-md-12">
                    <p>
                    
                        @foreach (var provider in providers)
                        {
                            <input type="submit" class="loginBtn--@provider.Name.ToLower()" value="@provider.Name" name="provider"/>
                        }
                    </p>
                </div>
            </form>
        }
    }

</div>