@using Microsoft.AspNetCore.Identity
@using SSTDataAccessLibrary.Models
@inject SignInManager<Typer> SignInManager
@inject UserManager<Typer> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="active">
            <a class="nav-link" asp-controller="Home" asp-action="Index" 
                title="Welcome">Welcome @User.Identity.Name!</a>
        </li>
        <li class="active">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="active">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="active">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
